<%= render 'shared/main2' %>

<div class="wrapper_small">
    <div class="op_page">
        <div class="return">
        </div>
        <div class="content_form g_border">
            <div class="hd g_box">
                <div class="op_list g_tp_10">
                    <%= link_to "给所有教练发送通知", message_index_administrator_path(current_admin) %>
                    <%= link_to "给特定发送通知", notice_special_view_administrators_path %>
                    <%= link_to "给所有会员发送通知", notice_all_member_administrators_path %>
                    <%= link_to "给特定会员发送通知", notice_special_member_administrators_path %>
                    <%= link_to "通知列表", notices_administrators_path %>
                </div>
            </div>

            <div class="bd no_tp">
              <%= form_for @notice, :url => {:action => 'message_update_all'}  do |f| %>
                <div class="g_input">
                  <%= f.label :title, "标题", :class =>  "gi_label" %>
                  <%= f.text_field :title, :class => "gi_input", :type => "text", :placeholder => "", :disabled => true %>
                </div>
                <div class="g_input">
                  <%= f.label :content, "内容", :class =>  "gi_label" %>
                  <%= f.text_area :content, :class => "gi_input", :type => "text", :placeholder => "", :style => "height:180px;", :disabled => true  %>
                </div>
                <br/>
                <div class="g_input", style= "margin-top:150px;">
                  <%= f.label :category, "通知类型 | ", :class =>  "gi_label" %>
                  <%= f.text_field :category, :class => "gi_input", :type => "text", :placeholder => "", :disabled => true  %>
                </div>
                <div class="g_input">
                  <%= f.label :coach_phone, "教练手机号", :class =>  "gi_label" %>
                  <%= f.text_field :coach_phone, :class => "gi_input", :type => "text", :placeholder => "", :disabled => true  %>
                </div>
                <div class="g_input">
                  <%= f.label :member_phone, "会员手机号", :class =>  "gi_label" %>
                  <%= f.text_field :member_phone, :class => "gi_input", :type => "text", :placeholder => "", :disabled => true  %>
                </div>
                
              <% end %>

            </div>
            



        </div>
    </div>
</div>
